<div class="jumbotron text-center">
  <h1 class="display-3">Angular2 + Bootstrap4</h1>
  <hr class="m-y-md">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="well heading"><h1>Interpolation</h1></div>
            <div class="data">
            <br />
              <h2>Hii Mayuresh <strong>{{wish}}</strong></h2>
            </div>
        </div>
        <hr />
    </div>
<hr />
<app-eventdata-binding></app-eventdata-binding>
<hr />
<app-two-way-binding></app-two-way-binding>
</div>
